{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "chrome >= 69",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "views": "./app/views",
          "components": "./app/components",
          "javascript": "./app/javascript"
        }
      }
    ]
  ]
}
